{% extends 'base.html' %}
{% load static %}

{% block content %}
       <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="breadcrumb-content">
                                <h3 class="title">About Us</h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- about-area -->
            <section class="about-area pt-120">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="about-img-wrap">
                                <img src="{% static 'img/images/about_img01.jpg' %}" alt="Best Internet Connection in Chennai" title="Best Broadband Connection in Chennai">
                                <img src="{% static 'img/images/about_img02.jpg' %}" class="main-img" alt="Best Broadband plans in Chennai" title="Best fibernet plans in Chennai">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title mb-30">
                                <h2 class="title">We Provide Best Internet Connection in Chennai</h2>
                            </div>
                            <div class="about-content">
                                <p>Yes! You'll be able to use your Mobile Home Internet to connect your computer, phone, and numerous other devices. Gauge your students’ skill level with the initial test and follow their progress.</p>
                                <ul class="about-list">
                                    <li>Expert technical team</li>
                                    <li>Best network</li>
                                    <li>50+ coverage areas</li>
                                    <li>24/7 quick support</li>
                                    <li>Reasonable price packages</li>
                                    <li>Trusted & recommended</li>
                                </ul>
                                <a href="contact.html" class="btn transparent-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->

            <!-- counter-area -->
            <section class="counter-area pt-115 pb-65">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-item">
                                <h2 class="title"><span class="odometer" data-count="50"></span>+</h2>
                                <p>Network Coverage Areas</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-item">
                                <h2 class="title"><span class="odometer" data-count="5"></span>k+</h2>
                                <p>Happy Customers</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-item">
                                <h2 class="title"><span class="odometer" data-count="15"></span>+</h2>
                                <p>Experienced Employees</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-item">
                                <h2 class="title"><span class="odometer" data-count="10"></span>+</h2>
                                <p>Certificate & Awards Winner</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- counter-area-end -->

            <!-- cta-area -->
            <section class="cta-area cta-bg jarallax" data-background="img/bg/cta_bg.jpg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-9 col-lg-10">
                            <div class="cta-content text-center">
                                <div class="section-title white-title mb-35">
                                    <h2 class="title">Need Fast & Secure Broadband?</h2>
                                </div>
                                <div class="cta-btn-wrap">
                                    <a href="airtel.html" class="btn">View our Plans</a>
                                    <span class="or">OR</span>
                                    <a href="tel:+917904856728" class="btn transparent-btn">7904856728</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- cta-area-end -->

            <!-- experience-area -->
            <section class="experience-area pt-120 pb-90">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-0 order-lg-2">
                            <div class="progress-video">
                                <img src="{% static 'img/images/progress_img.png' %}" alt="Best Broadband Connection in Chennai" title="Best Broadband Plans in Chennai">
                              <!--  <div class="video-paly">
                                    <a href="https://www.youtube.com/watch?v=XHOmBV4js_E" class="popup-video"><i class="fas fa-play"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="section-title mb-30">
                                <h2 class="title">We've The Best Skilled & Experienced Team</h2>
                            </div>
                            <div class="experience-content">
                                <p>Gauge your students’ skill level with the initial test and follow their progress. Internet to connect your computer, phone, and numerous other devices.</p>
                                <div class="progress-item">
                                    <span class="title">Technical Skills</span>
                                    <div class="progress--bar" data-percentage="90%">
                                        <div class="progress-number">
                                            <span class="percent"></span>
                                        </div>
                                        <div class="progress-bg">
                                            <div class="progress-fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <span class="title">Customer Support</span>
                                    <div class="progress--bar" data-percentage="80%">
                                        <div class="progress-number">
                                            <span class="percent"></span>
                                        </div>
                                        <div class="progress-bg">
                                            <div class="progress-fill"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress-item">
                                    <span class="title">Networking SKills</span>
                                    <div class="progress--bar" data-percentage="95%">
                                        <div class="progress-number">
                                            <span class="percent"></span>
                                        </div>
                                        <div class="progress-bg">
                                            <div class="progress-fill"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- experience-area-end -->


        </main>
        <!-- main-area-end -->


{% endblock content %}