{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="breadcrumb-content">
                                <h3 class="title">ACT </h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">ACT Broadband Plans in Chennai</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

 <div class="container">
                    <div class="row justify-content-center">
						<marquee class="mt-20" style=" color:red;">
							 <b>Connections Providing All Areas Chennai City Only</b>
							 <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pay 6 Month Get 2 Month Free</b>
    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Pay 12 Month Get 4 Month Free</b>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <b>Free Installation Charges Free Router For 3 Month Plans </b>
        </span>
    </span>
						</marquee>
                    </div>
                 </div >
 <!-- pricing-area -->
            <section class="pricing-area pt-110 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-md-11">
                            <div class="section-title text-center mb-55">
                                <h1 class="title" style="font-size: 32px;">Let's Discover Our Best </br>ACT Fibernet Broadband Plans in Valasaravakkam</h1>
                                <p>One of the leading ACT fibernet broadband plans provider in Valasaravakkam. </p>
                            </div>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT starter</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>50 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 549</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT starter Plus </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>75 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Advanced Rental Plan</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 550</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Basic </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>150 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 820</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Basic+ </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>150 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Free 6 Ott And  Tv Channels </li>
                                        
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 999</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Blaze </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>200 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1020</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Blast Promo</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>300 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1075</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Storm</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>400 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1125</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Lightning</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>450 Mbps</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1325</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Lightning+</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>300 Mbps</li>
                                        <li>Unlimited Data</li>
                                        <li>Free 6 Ott And Tv Channels</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1325</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT Incredible</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>500 Mbps</li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1999</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">ACT GIGA</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>1 Gigabit </li>
                                        <li>Unlimited Data</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 2999</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </section>
            <!-- pricing-area-end -->
			

            <!-- subscribe-two-area -->
            <section class="subscribe-two-area subscribe-two-bg" data-background="{% static 'img/bg/subscribe_bg02.jpg' %}">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                            <div class="subscribe-img wow fadeInRight" data-wow-delay=".2s">
                                <div class="welcome-image-box clearfix">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
										<!-- Carousel indicators -->
										
										<!-- Wrapper for carousel items -->
										<div class="carousel-inner">
											<div class="carousel-item active">
												<a class="pan" data-big="img/actnew1.jpeg" href="#"><img src="{% static 'img/actnew1.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="img/actnew2.jpeg" href="#"><img src="{% static 'img/actnew2.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="img/actnew3.jpeg" href="#"><img src="{% static 'img/actnew3.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="img/act.jpeg" href="#"><img src="{% static 'img/act.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="img/act1.jpeg" href="#"><img src="{% static 'img/act1.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="img/act2.jpeg" href="#"><img src="{% static 'img/act2.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											
										</div>
										<!-- Carousel controls -->
										<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
											<span class="carousel-control-prev-icon"></span>
										</a>
										<a class="carousel-control-next" href="#myCarousel" data-slide="next">
											<span class="carousel-control-next-icon"></span>
										</a>
									</div>
								
								</div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="section-title white-title mb-30">
                                <h2 class="title">Looking for the Perfect </br>Wi-Fi Plan ?</h2>
                            </div>
                            <div class="subscribe-content">
                                <p align="justify"> <b>Act Broadband Offers in Chennai, </b>
ACT (Atria Convergence Technologies Ltd.) was born out of a vision to become the most admired in-the-home entertainment, education and interactive services company that creates radical social transformation, and delights and empowers customers.

Today, we are closer than ever to realising it. Based in Bangalore, we serve a number of cities and towns in Karnataka, Andhra Pradesh, Telangana, Tamil Nadu and Delhi. We are one of the country’s most renowned cable and broadband company, bringing state-of the art services to nearly 2 million happy homes:</h4>
                               <ul>
                                   <li>Fibernet (Internet over Fiber Optics)</li>
                                   <li>Digital TV</li>
                                   <li>HDTV</li>
                               </ul> </br>
                               <p align="justify">We offer broadband on optic fiber and our Fiber-To-The-Home technology can carry vast amount of information at speeds up to 1 Gbps. We are currently the largest fiber broadband services provider in the wired broadband category, and the largest non-telco ISP in the country

									REFER & EARN
									Refer a friend to fetch rewards!
									Refer your friends and neighbours to ACT Fibernet and enjoy 25% off on your next bill.</p>
                                <a class="btn contact-icon">Try Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- subscribe-two-area 
            <section class="subscribe-two-area subscribe-two-bg" data-background="img/bg/subscribe_bg02.jpg">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                            <div class="subscribe-img wow fadeInRight" data-wow-delay=".2s">
                                <img src="{% static 'img/images/subscribe_img02.png' %}" alt="">
                                <h2 class="overlay-price"><span>Only</span> $89 <span>Per Month</span></h2>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="section-title white-title mb-30">
                                <h2 class="title">Enjoy Sports Movies, TV Shows & More</h2>
                            </div>
                            <div class="subscribe-content">
                                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything hidden
                                    in the middle of text</p>
                                <h4 class="title"><span>Subscribe Netfix TV Box & Get</span> Wi-Fi For 1 Month</h4>
                                <a href="pricing.html" class="btn">Try Us </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
             subscribe-two-area-end -->

            <!-- pricing-three-area
            <section class="pricing-three-area pt-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Starter Bundle</h4>
                                    <span class="devices-support">02 Devices</span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>Home broadband</li>
                                        <li>Satellite TV</li>
                                        <li>Cell phone connection</li>
                                        <li>Home security</li>
                                        <li>Home broadband</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"><span>From</span> ₹ 499<span>/mon</span></h2>
                                <a href="pricing.html" class="btn transparent-btn">Get Started</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Combo Bundle</h4>
                                    <span class="devices-support">03 Devices</span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>Home broadband</li>
                                        <li>Satellite TV</li>
                                        <li>Cell phone connection</li>
                                        <li>Home security</li>
                                        <li>Home broadband</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"><span>From</span> ₹ 599<span>/mon</span></h2>
                                <a href="pricing.html" class="btn transparent-btn">Get Started</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Premium Bundle</h4>
                                    <span class="devices-support">04 Devices</span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                        <li><i class="flaticon-laptop"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>Home broadband</li>
                                        <li>Satellite TV</li>
                                        <li>Cell phone connection</li>
                                        <li>Home security</li>
                                        <li>Home broadband</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"><span>From</span> ₹ 699<span>/mon</span></h2>
                                <a href="pricing.html" class="btn transparent-btn">Get Started</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Full House Pack</h4>
                                    <span class="devices-support">Any Devices</span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-device-1"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>Home broadband</li>
                                        <li>Satellite TV</li>
                                        <li>Cell phone connection</li>
                                        <li>Home security</li>
                                        <li>Home broadband</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"><span>From</span> ₹ 899<span>/mon</span></h2>
                                <a href="pricing.html" class="btn transparent-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            pricing-three-area-end -->

            <!-- pricing-cta-area 
            <section class="pricing-cta-area pt-85 pb-50">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-10">
                            <div class="pricing-cta-content text-center">
                                <h4 class="title">Not happy with these plans? Contact Us</h4>
                                <p>Home Internet to connect your computer, phone, and other devices in your home simultaneously. People over time-we
                                appreciate your patience.</p>
                                <a href="contact.html" class="btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            pricing-cta-area-end -->

            <!-- brand-area -->
            <div class="brand-area pt-60 pb-40">
              <!--  <div class="container">
                    <div class="row brand-active">
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item01.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item02.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item03.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item04.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item05.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- brand-area-end -->


        </main>
        <!-- main-area-end -->


{% endblock content %}