{% extends 'base.html' %}
{% load static %}

{% block content %}


        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="breadcrumb-content">
                                <h3 class="title">Airtel </h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Airtel Broadband Plans in Chennai</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <div class="container">
                    <div class="row justify-content-center">
						<marquee class="mt-20" style=" color:red;">
							<b>Connections Providing All Areas Chennai City Only</b>
							<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pay 6 Month Get 7.5% Bill Discount | Free Installation Charges | Free Router </b>
							<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Pay 12 Month Plan Get 15% Rental Discount | Free Installation Charges | Free Router</b>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								   <b>3 Month Plans | Free Router | Free Installation Charges </b>
								</span>
							</span>
						</marquee>
                    </div>
                 </div >
			
            <!-- pricing-area -->
            <section class="pricing-area pt-110 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-md-11">
                            <div class="section-title text-center mb-55">
                                <h2 class="title" style="font-size: 32px;">Let's Discover Our Best </h2>
                                <h1 class="title" style="font-size: 32px;">Airtel Fibernet Broadband Plans in Chennai</h1>
                                <p>One of the leading <b> Airtel fibernet broadband plans provider in Chennai</b> city and on the other big reason pay more should is that they're too loyal.</p>
                            </div>
                        </div>
                    </div>
				<div class="row justify-content-center">
                      <!--  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Fiber Stand-by </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>10 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls</li>
                                    </ul>
                                </div>
								</br>
                                <h2 class="pricing-three-price"> ₹ 199<span> + GST</span></h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div> --->
                    
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Standard </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>40 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>Streaming Apps : No</li>
                                    </ul>
                                </div>
								</br>
								</br>
								</br>
								</br>
								</br>
								</br>
                                <h2 class="pricing-three-price"> ₹ 499<span> + GST</span></h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Airtel Black Plan </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>40 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>350+ TV Channels </li>
										<li>Streaming Apps :  </li> 
                                        
											<ul class="StreamingApps">
												<li> </li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-04.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-05.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-06.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-07.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-08.jpg' %}" /></li>
											</ul>
											</br>
											<span style="color:#000;">&  More OTT Apps...</span>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 699<span> + GST</span></h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Premium </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>100 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>Streaming Apps : No</li>
                                    </ul>
                                </div>
								</br>
								</br>
								</br>
								</br>
								</br>
								</br>
								</br>
                                <h2 class="pricing-three-price"> ₹ 799<span> + GST</span></h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
						 <div class="bestSeller mt-0 mb-1"> <b>Best Seller</b></div>
                           
                                <div class="pricing-three-head">
                                    <h4 class="title">Airtel Black Plan </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>100 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>350+ TV Channels </li>
										<li>Streaming Apps :  </li> 
                                        
											<ul class="StreamingApps">
												<li> </li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-04.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-05.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-06.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-07.jpg' %}" /></li>
												<li><img style="width: 60%;" src="{% static 'img/streamApp/app-08.jpg' %}" /></li>
											</ul>
											</br>
											<span style="color:#000;">&  More OTT Apps...</span>
                                    </ul>
                                </div>
								</br>
                                <h2 class="pricing-three-price"> ₹ 899<span> + GST</span></h2>
								 <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                         </div>
                        </div>
                      
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
							<div class="bestSeller mt-0 mb-1" style="background:red;"> <b>Hot Seller</b></div>
                                <div class="pricing-three-head">
                                    <h4 class="title">Airtel Black Plan </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>100 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>350+ TV Channels </li>
										<li>Streaming Apps :  </li> 
                                        
											<ul class="StreamingApps">
												<li> </li>
												<li><img src="{% static 'img/streamApp/app-01.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-02.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-03.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-04.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-05.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-06.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-07.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-08.jpg' %}" /></li>
											</ul>
											</br>
											<span style="color:#000;">&  More OTT Apps...</span>
											
                                    </ul>
                                </div>
								</br>
                                <h2 class="pricing-three-price"> ₹ 1199<span> + GST</span></h2>
                                <a class=" contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
						
                        
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Airtel Black Plan<b></b></h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>300 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>350+ TV Channels </li>
										<li>Streaming Apps :  </li> 
                                        
											<ul class="StreamingApps">
												<li> </li>
												<li><img src="{% static 'img/streamApp/app-01.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-02.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-03.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-04.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-05.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-06.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-07.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-08.jpg' %}" /></li>
											</ul>
											</br>
											<span style="color:#000;">&  More OTT Apps...</span>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 1599<span> + GST</span></h2>
                                <a class=" contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
					
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">1Gbps Speed Plan</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>1Gbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Landline Unlimited Calls </li>
                                        <li>350+ TV Channels </li>
										<li>Streaming Apps :  </li> 
                                        
											<ul class="StreamingApps">
												<li> </li>
												<li><img src="{% static 'img/streamApp/app-01.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-02.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-03.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-04.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-05.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-06.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-07.jpg' %}" /></li>
												<li><img src="{% static 'img/streamApp/app-08.jpg' %}" /></li>
											</ul>
											</br>
											<span style="color:#000;">&  More OTT Apps...</span>
                                    </ul>
                                </div>
								
                                <h2 class="pricing-three-price"> ₹ 3999<span> + GST</span></h2>
                                <a class=" contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>
            <!-- pricing-area-end -->
			

            <!-- subscribe-two-area -->
            <section class="subscribe-two-area subscribe-two-bg" data-background="{% static 'img/bg/subscribe_bg02.jpg' %}">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                            <div class="subscribe-img wow fadeInRight" data-wow-delay=".2s">
                                <div class="welcome-image-box clearfix">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
										<!-- Carousel indicators -->
										
										<!-- Wrapper for carousel items -->
										<div class="carousel-inner">
											<div class="carousel-item active">
												<a class="pan" data-big="{% static 'img/airtelPlan/airtel1.jpg' %}" href="#"><img src="{% static 'img/airtelPlan/airtel1.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div> 
											<div class="carousel-item ">
												<a class="pan" data-big="{% static 'img/airtelPlan/airtel2.jpg' %}" href="#"><img src="{% static 'img/airtelPlan/airtel2.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="{% static 'img/airtelPlan/airtel3.jpg' %}" href="#"><img src="{% static 'img/airtelPlan/airtel3.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="{% static 'img/airtelPlan/airtel4.jpg' %}" href="#"><img src="{% static 'img/airtelPlan/airtel4.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="{% static 'img/airtel.jpeg' %}" href="#"><img src="{% static 'img/airtel.jpg' %}" alt="1 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item ">
												<a class="pan" data-big="{% static 'img/airtel1.jpeg' %}" href="#"><img src="{% static 'img/airtel1.jpg' %}" alt="2 Slide"  width="100%"></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="{% static 'img/1.jpg' %}" href="#"><img src="{% static 'img/1.jpg' %}" alt="3 Slide" width="100%" ></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="{% static 'img/2.jpg' %}" href="#"><img src="{% static 'img/2.jpg' %}" alt="4 Slide" width="100%"></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="{% static 'img/3.jpg' %}" href="#"><img src="{% static 'img/3.jpg' %}" alt="5 Slide" width="100%"></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="{% static 'img/4.jpg' %}" href="#"><img src="{% static 'img/4.jpg' %}" alt="6 Slide"  width="100%" ></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="{% static 'img/7.jpg' %}" href="#"><img src="{% static 'img/7.jpg' %}" alt="7 Slide" width="100%"></a>
											</div>
										</div>
										<!-- Carousel controls -->
										<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
											<span class="carousel-control-prev-icon"></span>
										</a>
										<a class="carousel-control-next" href="#myCarousel" data-slide="next">
											<span class="carousel-control-next-icon"></span>
										</a>
									</div>
								
								</div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="section-title white-title mb-30">
                                <h2 class="title">Looking for the Perfect </br>Wi-Fi Plan ?</h2>
                            </div>
                            <div class="subscribe-content">
                                <p align="justify"> <b>Airtel Broadband Offers in Chennai, </b>
Airtel Fiber Home Wifi Connection & Plans
Airtel wifi plans – Getting a Wi-Fi connection for the house is the best way to keep all your digital devices connected at all times. Pick our newly launched wifi plans starts @499/- only, it gives superfast speed upto 40MBPS for your home, 
stay speedy, always-on connectivity without network problems. </p>

 <p align="justify"> Airtel wifi plans also provided fastest speed upto 1Gbps, with unlimited Internet and unlimited STD/Local calls. You also get Airtel Xstream box With Amazon Prime, Zee5 and many others included in Airtel best home wifi plans.</p>
</p>

</p>

 <p align="justify"> However, some Wi-Fi plans consume more power Airtel unlimited home Wi-Fi plans do not trade off between power consumption, range and bandwidth. You do not compromise on speeds and transmission vis-a-vis power consumption.</p>


 <p align="justify"> A good Wi-Fi plan is characterised by high security, superfast speeds and always-on connectivity. For instance, Airtel broadband offers the superior V-fiber technology that has 99% uptime and speeds
 ranging from 100 Mbps to 1 Gbps, based on the Wi-Fi plan you choose.</p>


 <p align="justify"> So every time you want to watch something over your smartphone, just switch over from your data plan to your Wi-Fi plan used at home. We offer the best wifi plans that have a host of benefits and add-on features that provide a 
 cost-effective solution to the entire home’s Internet needs.</p>
                                <h4 class="title"><span>Superfast and ultra-reliable.</span> Our fastest ever router.</h4>
                                <a class="btn contact-icon">Try Now </a>
								
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- subscribe-two-area-end -->

            

            <!-- brand-area -->
            <div class="brand-area pt-60 pb-40">
  
            </div>
            <!-- brand-area-end -->


        </main>
        <!-- main-area-end -->
{% endblock content %}