{% extends 'base.html' %}
{% load static %}

{% block content %}

       <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="breadcrumb-content">
                                <h3 class="title">Hathway </h3>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Hathway Fibernet Broadband Plans</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->



            <!-- pricing-area -->
            <section class="pricing-area pt-110 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-10 col-md-11">
                            <div class="section-title text-center mb-55">
                                <h2 class="title" style="font-size: 32px;">Let's Discover Our Best </h2>
                                <h1 class="title" style="font-size: 32px;">Hathway Fibernet Broadband Plans in Chennai</h1>
                                <p>One of the leading <b>Hathway fibernet broadband plans provider in Chennai.</b></p>
                            </div>
                        </div>
                    </div>
					<div class="row justify-content-center">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8  col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Hero<b>+</b> </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>40 Mbps Speed</li>
                                        <li>Unlimited Data</li>
                                        <li>Router type : 2.4GHZ</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 500</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Premium </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>100 Mbps Speed</li>
                                        <li>Unlimited Data</li>
										<li>Router type : 5GHZ</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 599</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div> 
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Smart </h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>200 Mbps Speed</li>
                                        <li>Unlimited Data</li>
										<li>Router type : 5GHZ</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹749</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">Turbo</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>300 Mbps Speed</li>
                                        <li>Unlimited Data</li>
										<li>Router type : 5GHZ</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 849</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">New Smart Bundle</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>250 Mbps Speed</li>
                                        <li>Unlimited Data</li>
										<li>Free Ott & Free Channels</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 848</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-8 col-10">
                            <div class="pricing-three-item mb-30">
                                <div class="pricing-three-head">
                                    <h4 class="title">New Smart Bundle+</h4>
                                    <span class="devices-support"></span>
                                    <ul class="devices-icon-wrap">
                                        <li><i class="flaticon-tv"></i></li>
                                        <li><i class="flaticon-wifi-router-1"></i></li>
                                        <li><i class="flaticon-device"></i></li>
                                    </ul>
                                </div>
                                <div class="pricing-three-list">
                                    <ul>
                                        <li>300 Mbps Speed</li>
                                        <li>Unlimited Data</li>
										<li>Free Ott & Free Channels</li>
                                    </ul>
                                </div>
                                <h2 class="pricing-three-price"> ₹ 948</h2>
                                <a class="contact-icon btn transparent-btn">Enquiry Now</a>
                            </div>
                        </div>
                    </div>
                
                </div>
            </section>
            <!-- pricing-area-end -->
			

            <!-- subscribe-two-area -->
            <section class="subscribe-two-area subscribe-two-bg" data-background="{% static 'img/bg/subscribe_bg02.jpg' %}">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-7 col-lg-6 order-0 order-lg-2">
                            <div class="subscribe-img wow fadeInRight" data-wow-delay=".2s">
                                <div class="welcome-image-box clearfix">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
										<!-- Carousel indicators -->
										
										<!-- Wrapper for carousel items -->
										<div class="carousel-inner">
											<div class="carousel-item active">
											<a class="pan" data-big="img/hathnew1.jpeg" href="#">	<img src="{% static 'img/hathnew1.jpg' %}" alt="1 Slide"></a>
											</div>
											<div class="carousel-item ">
											<a class="pan" data-big="img/hathnew2.jpeg" href="#">	<img src="{% static 'img/hathnew2.jpg' %}" alt="1 Slide"></a>
											</div>
											<div class="carousel-item ">
											<a class="pan" data-big="img/hathnew3.jpeg" href="#">	<img src="{% static 'img/hathnew3.jpg' %}" alt="1 Slide"></a>
											</div>
											<div class="carousel-item ">
											<a class="pan" data-big="img/hathway.jpeg" href="#">	<img src="{% static 'img/hathway.jpg' %}" alt="1 Slide"></a>
											</div>
											<div class="carousel-item">
											<a class="pan" data-big="img/hathway1.jpeg" href="#">	<img src="{% static 'img/hathway1.jpg' %}" alt="2 Slide"></a>
											</div>
											<div class="carousel-item ">
											<a class="pan" data-big="img/8.jpg" href="#"> <img src="{% static 'img/8.jpg' %}" alt="First Slide" title="Hathway Fibernet Broadband Plans in Chennai"></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="img/9.jpg" href="#"><img src="{% static 'img/11.jpg' %}" alt="Second Slide" title="Hathway Fibernet Broadband Offers in Chennai"></a>
											</div>
											<div class="carousel-item">
												<a class="pan" data-big="img/hath.jpg" href="#"><img src="{% static 'img/hath.jpg' %}" alt="Third Slide"></a>
											</div>
										</div>
										<!-- Carousel controls -->
										<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
											<span class="carousel-control-prev-icon"></span>
										</a>
										<a class="carousel-control-next" href="#myCarousel" data-slide="next">
											<span class="carousel-control-next-icon"></span>
										</a>
									</div>
								
								</div>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-6">
                            <div class="section-title white-title mb-30">
                                <h2 class="title">Looking for the Perfect </br>Wi-Fi Plan ?</h2>
                            </div>
                            <div class="subscribe-content">
                                <p align="justify"> <b> Hathway Broadband Offers in Chennai,</b> 
Hathway Cable & Datacom Limited (Hathway) is one of the India’s leading Cable Broadband service provider. It also provides Cable Television services through its wholly owned subsidiary – Hathway Digital Private Limited, 
which is one of the largest Multisystem operator in India. Hathway vision is to be a single point access provider, bringing into the home and work place a converged world of information, entertainment and services</p>

 <p align="justify">Broadband: Hathway holds a PAN India ISP license and was the first cable television services provider to offer High-speed cable broadband services across 16 cities (4 metros and 3 mini metros), having more than approx. 5.5 mn Home passed
and 0.77 mn Subscribers as on Q1FY19.</p>

 <p align="justify">Cable Television: One of India’s largest MSO, across various regions of the country and transmitting the same to LCOs or directly to subscriber’s Extensive network connecting 7.2 Mn digital cable subscribers / households Offers cable television
services across 350 cities and major towns.</p>

 <p align="justify">Hathway has been awarded the best MSO by the Indian Telly Awards for its quality Cable TV and Broadband Internet Services nine times and “Star News Brand Excellence Awards for Brand Excellence in Digital Products for Internet Services in 2011”. 
Hathway has been voted as one of the best managed media companies in Asia 2013 based on a study conducted by EUROMONEY.</p>
                                <h4 class="title"><span>Superfast and ultra-reliable.</span> Our fastest ever router.</h4>
                                <a class="btn contact-icon">Try Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- subscribe-two-area-end -->

            <!-- pricing-cta-area 
            <section class="pricing-cta-area pt-85 pb-50">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7 col-md-10">
                            <div class="pricing-cta-content text-center">
                                <h4 class="title">Not happy with these plans? Contact Us</h4>
                                <p>Home Internet to connect your computer, phone, and other devices in your home simultaneously. People over time-we
                                appreciate your patience.</p>
                                <a href="contact.html" class="btn">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            pricing-cta-area-end -->

            <!-- brand-area -->
            <div class="brand-area pt-60 pb-40">
              <!--  <div class="container">
                    <div class="row brand-active">
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item01.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item02.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item03.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item04.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="brand-item">
                                <a href="#"><img src="{% static 'img/brand/brand_item05.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- brand-area-end -->


        </main>
        <!-- main-area-end -->

{% endblock content %}